@model PagedList.IPagedList<WebsiteBH.Models.EF.Wishlist>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<style>
    .news_section_container {
        margin-top: 180px;
    }

    .title-news {
        font-size: 20px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .img-box img {
        max-width: 50px;
        max-height: 50px;
        width: auto;
        height: auto;
    }
</style>

<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-news">Sản phẩm yêu thích</h1>
        </div>
    </div>

    @if (Model != null && Model.Any())
    {
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Mô tả</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="wishlist-item-@item.Id">
                        <td class="img-box">
                            <a href="@Url.Action("Detail", "Product", new { alias = item.Product.Alias, id = item.ProductId })" title="@item.Product.Title">
                                <img src="@item.Product.Image" alt="@item.Product.Title" />
                            </a>
                        </td>
                        <td>
                            <h3>
                                <a href="@Url.Action("Detail", "Product", new { alias = item.Product.Alias, id = item.ProductId })" title="@item.Product.Title">@item.Product.Title</a>
                            </h3>
                        </td>
                        <td>
                            <div class="description-box">
                                @item.Product.Description
                            </div>
                        </td>
                        <td>
                            <button data-id="@item.Id" class="btn btn-danger btn-delete">Xóa</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="row">
            <div class="col-6"></div>
            <div class="col-6" style="text-align:right;">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    }
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('.btn-delete').click(function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var row = $('#wishlist-item-' + id);

            $.ajax({
                url: '@Url.Action("PostDeleteWishlist", "Wishlist")',
                type: 'POST',
                data: { id: id },
                success: function (response) {
                    if (response.Success) {
                        row.remove();
                    } else {
                        alert('Error deleting item: ' + response.Message);
                    }
                },
                error: function () {
                    alert('Error deleting item.');
                }
            });
        });
    });
</script>
