@model PagedList.IPagedList<WebsiteBH.Models.UserViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản Lý Tài Khoản";
}
@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang Chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/account" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh Sách Tài Khoản</h3>

            <div class="card-tools">
                <a href="/admin/account/create" class="btn btn-primary">Thêm Mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>STT</th>
                        <th>Tài Khoản</th>
                        <th>Họ Tên</th>
                        <th>SDT</th>
                        <th>Email</th>
                        <th>Quyền</th>
                        <th style="text-align:center">Trạng Thái</th>
                        <th>Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.UserName</td>
                                <td>@item.FullName</td>
                                <td>@item.Phone</td>
                                <td>@item.Email</td>
                                <td>@string.Join(", ", item.Role)</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-primary">Lock</button>
                                </td>
                                <td>
                                    <a href="/admin/account/edit/@item.Id" class="btn btn-sm btn-danger">Cập Nhật</a>
                                    <button class="btn btn-sm btn-danger" onclick="deleteUser('@item.Id')">Xóa</button>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8" class="text-center">Không Có Bản Ghi Nào</td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <!-- Footer content -->
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<script>
    function deleteUser(userId) {
        $.ajax({
            url: '/admin/account/delete/' + userId,
            type: 'POST',
            dataType: 'json',
            success: function (result) {
                if (result.success) {
                    location.reload(); // Ví dụ: Refresh lại trang
                } else {

                }
            },
            error: function () {

            }
        });
    }
</script>


